body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex-container{
  display: flex;
  flex-flow: row;
  align-items: center;
}


.v-flex-container{
  display: flex;
  flex-direction: column;
}

.no-text-decoration{
  text-decoration: none;
}

.post-master{
  margin: 10px 10px 5px 10px;
}

.post-comment{
  margin:4px 10px 0 40px;
}

.justify-content-space-between{
  justify-content: space-between;
}