body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex-container{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}


.v-flex-container{
  display: flex;
  flex-direction: column;
}